<section class="admin-container mx-auto py-8">
    <h1 class="admin text-3xl font-bold mb-16 ml-16 underline">Admin Dashboard</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-24 mx-24">
        <div class="card card-1 shadow-2xl mb-8">
            <a href="/admin/adminHome">
                <i class="las la-users text-5xl"></i>
                <div class="card_inner text-center">
                    <h2 class="font-bold text-lg">Users</h2>
                    <span class="font-bold text-4xl">500</span>
                </div>
            </a>

        </div>
        <div class="card card-2 shadow-2xl mb-8">
            <a href="/admin/product">
                <i class="lab la-product-hunt text-5xl"></i>
                <div class="card_inner text-center">
                    <h2 class="font-bold text-lg">Products</h2>
                    <span class="font-bold text-3xl">100</span>
                </div>
            </a>

        </div>
        <div class="card card-3 shadow-2xl mb-8">
            <a href="/admin/orders">
                <i class="las la-shopping-cart text-5xl"></i>
                <div class="card_inner text-center">
                    <h2 class="font-bold text-lg">Orders</h2>
                    <span class="font-bold text-3xl">50</span>
                </div>
            </a>
        </div>
        <div class="card card-4 shadow-2xl mb-8">
            <a href="/admin/adminHome">
                <i class="las la-thumbs-up text-5xl"></i>
                <div class="card_inner text-center">
                    <h2 class="font-bold text-lg">Likes</h2>
                    <span class="font-bold text-3xl">500</span>
                </div>
            </a>

        </div>
    </div>
</section>